.luxury-card {
  background: mix( #cfc5f4, #aad5f1); /* Arrière-plan dégradé */
  color: white; /* Couleur du texte */
  border-radius: 1rem; /* Arrondi des coins */
  border: 2px solid #1e3c72; /* Bordure */
  box-shadow: 0px 0px 20px 0px rgba(30, 28, 28, 0.75); /* Ombre */
}







