<div class="container">
  <div class="image-container">
    <img src="/assets/images/prix.png" class="background-image">
    <div class="table-wrapper">
<table>
  <tr>
    <th>Type</th>
    <th>Prix</th>
  </tr>
  <tr>
    <td>All Inclusif</td>
    <td><p>{{hotel?.prixAllInclusif}}</p></td>
  </tr>
  <tr>
    <td>Demi Pension</td>
    <td><p>{{hotel?.prixDemiPension}}</p></td>
  </tr>
  <tr>
    <td>Pension Complète</td>
    <td><p>{{hotel?.prixPensionComplete}}</p></td>
  </tr>
  <tr>
    <td>Personne</td>
    <td><p>{{hotel?.prixPersonne}}</p></td>
  </tr>
  <tr>
    <td>Petit Déjeuner</td>
    <td><p>{{hotel?.prixPetitDej}}</p></td>
  </tr>
  <tr>
    <td>Type Double</td>
    <td><p>{{hotel?.typeDouble}}</p></td>
  </tr>

  <tr>
    <td>Type Suite</td>
    <td><p>{{hotel?.typeSuite}}</p></td>
  </tr>

  <tr>
    <td>Type Triple</td>
    <td><p>{{hotel?.typeTriple}}</p></td>
  </tr>

  <tr>
    <td>prixVueSurMer</td>
    <td><p>{{hotel?.prixVueSurMer}}</p></td>
  </tr>

  <tr>
    <td>prix VueNormal</td>
    <td><p>{{hotel?.prixVueNormal}}</p></td>
  </tr>

  <tr>
    <td>prix  VueMontagne</td>
    <td><p>{{hotel?.prixVueMontagne}}</p></td>
  </tr>

  <tr>
    <td>prix VuePiscine</td>
    <td><p>{{hotel?.prixVuePiscine}}</p></td>
  </tr>

</table></div></div></div>
<p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success"  routerLink="/pages/prix"></p-button>
