// /* gestion-prix.component.scss */

// /* Style général du tableau */
// table {
//   width: 100%;
//   border-collapse: collapse;
//   font-family: Arial, sans-serif;
// }

// /* Style des en-têtes de colonnes */
// th {
//   background-color:mix( #781858  , #d977b2);
//   color: white;
//   font-weight: bold;
//   padding: 10px;
//   text-align: left;
// }

// /* Style des cellules du tableau */
// td {
//   border: 1px solid #dddddd;
//   padding: 10px;
//   background-color: mix(  #d8a9cb  , #ffffff);
// }

// /* Style des lignes paires */
// tr:nth-child(even) {
//   background-color: mix(  #ebe1e8  , #ffffff);
// }

// /* Style des lignes au survol */
// tr:hover {
//   background-color: mix(  #d8a9cb  , #ffffff);
// }

// /* Style des paragraphes à l'intérieur des cellules */
// p {
//   margin: 0; /* Supprime les marges par défaut */
// }
// .p-button-rounded{
//   background-color: #781858;
// }
.container {
  position: relative;
  display: inline-block;
}

.background-image {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  position: absolute;
  top: 50%; /* Ajustez cette valeur pour placer le tableau verticalement */
  left: 50%; /* Ajustez cette valeur pour placer le tableau horizontalement */
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3); /* Fond semi-transparent pour le tableau */
  padding: 1000px;
  border-radius: 10px;
  width: 80%;
  height: 40%;
}

th, td {
  font-weight: bold;
  color: black;
}
th {
  background-color: black; /* Couleur de fond des cellules d'en-tête en noir */
  color: white; /* Couleur du texte en blanc pour une meilleure lisibilité */
  padding: 10px; /* Ajouter du padding pour un meilleur espacement */
}
p{color: black;
  font-weight: bold;}

