<div class="luxury-card">
  <div class="video-container">
    <video autoplay muted loop id="background-video">
      <source src="/assets/images/hotel.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="content-overlay">
      <p-table [value]="reservation" [tableStyle]="{ 'min-width': '40rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Date Arrivee</th>
            <th>Date Depart</th>
            <th>Nombre Clients</th>
            <th>Vue</th>
            <th>Type Chambre</th>
            <th>Repas</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>CIN</th>

            <th>Email</th>
            <th>Numchambre</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation let-i="rowIndex">
          <tr>
            <td>{{ reservation.dateArrivee }}</td>
            <td>{{ reservation.dateDepart }}</td>
            <td>{{ reservation.nombreClients }}</td>
            <td>{{ reservation.vue }}</td>
            <td>{{ reservation.type }}</td>
            <td>{{ reservation.repas }}</td>
            <td>{{ reservation.nom }}</td>
            <td>{{ reservation.prenom }}</td>
            <td>{{ reservation.cin }}</td>
          
            <td>{{ reservation.email }}</td>
            <td>{{ reservation.chambre.numero }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
