<nb-card>
  <nb-card-header><h1>Detail Chambre</h1></nb-card-header>
  <nb-card-body>
    <div>
      <form [formGroup]="chambreForm" (ngSubmit)="onSubmit()">
         <div class="row">
          <div class="form-group col-6">
            <label for="nbrGelDouche" class="label">nbrGelDouche</label>
            <input formControlName="nbrGelDouche" type="number" nbInput fullWidth class="form-control" placeholder="nbrGelDouche">
            <div *ngIf="chambreForm.get('nbrGelDouche').invalid && chambreForm.get('nbrGelDouche').touched">
              <span *ngIf="chambreForm.get('nbrGelDouche').errors?.required" class="text-danger">nbrGelDouche</span>
            </div>
          </div>


          <div class="form-group col-6">
            <label for="nbrshampoing" class="label">nbrShampoing</label>
            <input formControlName="nbrShampoing" type="number" nbInput fullWidth class="form-control" placeholder="nbrshampoing">
            <div *ngIf="chambreForm.get('nbrShampoing').invalid && chambreForm.get('nbrShampoing').touched">
              <span *ngIf="chambreForm.get('nbrShampoing').errors?.required" class="text-danger">nbrShampoing</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="nbrPapier" class="label">Numéro Papier</label>
            <input formControlName="nbrPapier" type="number" nbInput fullWidth class="form-control" placeholder="nbrPapier Papier">
            <div *ngIf="chambreForm.get('nbrPapier').invalid && chambreForm.get('nbrPapier').touched">
              <span *ngIf="chambreForm.get('nbrPapier').errors?.required" class="text-danger">Numéro Papier requis</span>
            </div>
          </div>

        <div class="form-group col-6">
          <label for="nettoyerr" class="label">nettoyer</label>
          <select formControlName="nettoyerr" nbInput fullWidth class="form-control">

            <option value="nn nettoyer">nn nettoyer</option>
            <option value="nettoyer">nettoyer</option>
          </select>
          <div *ngIf="chambreForm.get('nettoyerr').invalid && chambreForm.get('nettoyerr').touched">
            <span *ngIf="chambreForm.get('nettoyerr').errors?.required" class="text-danger">nettoyer requis</span>
          </div>
        </div></div>


        <button  type="submit" nbButton fullWidth size="large" ><H2 style="color:  rgb(215, 25, 114);"> Modifier</H2> </button>
      </form>
    </div>
  </nb-card-body>
</nb-card>

