/* gestion-prix.component.scss */

/* Style général du tableau */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Style des en-têtes de colonnes */
h1,h3{
  color: #b4066f;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}


