<div class="container">
  <div class="image-container">
    <img src="/assets/images/linge.jpg" class="background-image">
    <div class="table-wrapper">
      <table>
        <tr>
          <th>Produit</th>
          <th></th>
        </tr>


        <tr>
          <td>Nombre Produit Machine</td>
          <td><p>{{ quantitesProduits[5] }}</p></td>
        </tr>
        <tr>
          <td>Nombre des Linges</td>
          <td><p>{{ quantitesProduits[3] }}</p></td>
        </tr>
      </table>
    </div>
    <button nbButton  class="button-inside-image">Envoyer Notifation</button>
  </div>
</div>
